@model List<Appointments>

<h2>Liste des Rendez-vous</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rdv in Model)
    {
        <tr>
            <td>@rdv.appo_id</td>
            <td>@rdv.date</td>
            <td>@rdv.name</td>
            <td>
                <a href="@Url.Action("Edit", "Admin", new { id = rdv.appo_id })" class="btn btn-warning">Modif</a>
                <a href="@Url.Action("Delete", "Admin", new { id = rdv.appo_id })" class="btn btn-warning">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>